<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BSNL Complaints">
  <test thread-count="5" name="File Complaint">
    <classes>
      <class name="complaint.FileComplaint"/>
    </classes>
  </test> <!-- File Complaint -->
</suite> <!-- BSNL Complaints -->
